.partners-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:60px;
    background-color: #fff;
  }
  
  .partners-logos {
  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
  }
  
  .partner-logo {

 
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .trusted-text {
    max-width:800px;
  }
  
  .trusted-text h2 {
    color: #2e7d32;
    font-size:94px;
    font-weight: bold;
  }
  
  .trusted-text p {
    font-size: 24px;
    color: #1c9d02;
  }
  @media(max-width:1024px){
    .partners-section {
      flex-direction: column-reverse;
      padding:60px;
    }
    
    .partners-logos {
      grid-template-columns: repeat(3, 1fr);
      gap: 4px;
    }
      
  .trusted-text h2 {
    font-size:74px;
  }
  
  .trusted-text p {
    font-size: 24px;
  }
    
  }

  @media(max-width:768px){
    .partners-section {
      flex-direction: column-reverse;
      padding:40px;
    }
    
    .partners-logos {
      grid-template-columns: repeat(2, 1fr);
      gap: 4px;
    }
      
  .trusted-text h2 {
    font-size:54px;
  }
  
  .trusted-text p {
    font-size: 21px;
  }
    
  }