/* RecyclickLanding.css */
.recyclick-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #047857;
    padding: 5.3rem;
    color: white;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: column;
      justify-content: center;
    }
  }
  
  .mobile-ui {
    display: flex;
    justify-content: center;
    width: 100%;
 height: 56vh;
    margin-top: -120px;
  }
  
  @media (min-width: 768px) {
    .mobile-ui {
      width: 55%;
      margin-bottom: 0;
    }
  }
  
  .mobile-image {
    width: 29rem;
    height: 67.5vh;
    max-width: 100%;
    border-radius: 1rem;
   
  }
  
  .promo-section {
    text-align: center;
    padding: 0 1.5rem;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .promo-section {
      text-align: left;
      width: 50%;
      padding-left: 2rem;
    }
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .subtitle {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }
  
  .description {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.6;
  }
  
  .button-container {
    margin-top: 1.5rem;
  }
  
  .invite-button {
    background-color: white;
    color: #047857;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .invite-button:hover {
    background-color: #f3f4f6;
  }
  
  .icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 1.5rem;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .icons {
      justify-content: flex-start;
    }
  }
  
  .icon {
    font-size: 2.5rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  